html {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

body {

}

.text {
    width: 500px;

    color: black;
    animation: color-change 3s infinite alternate;
}

@keyframes color-change {
    100% {
        color: red
    }
}