html {
    background: #555;
}

body {}

.title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    color: #fff;
    background: #bbbbbb;
    position: relative;
    display: inline-block;
    left: 50vh;
}

.title::before {
    content: "";
    display: block;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: blue;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -10px;
    margin: auto 0;
}

.title::after {
    content: "";
    display: block;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: red;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -10px;
    margin: auto 0;
}