html {

}

body {

}

.block {
    width: 50%;
    height: 200px;
    background: linear-gradient(-45deg, #943030, #5016bb);

    border: 5px solid black;
    transition: all 3s 2s;

    /* transition-property: all;
    transition-duration: 3s;
    transition-delay: 2s; */
}

.block:hover {
    border: 5px solid rgb(123, 206, 112);
}